html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.population-serif{font-family:serif}.population-sans-serif{font-family:sans-serif}.population-cursive{font-family:cursive}.population-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.population-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.population-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.population-table,.population-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.population-table-all{border:1px solid #ccc}
.population-bordered tr,.population-table-all tr{border-bottom:1px solid #ddd}.population-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.population-table-all tr:nth-child(odd){background-color:#fff}.population-table-all tr:nth-child(even){background-color:#f1f1f1}
.population-hoverable tbody tr:hover,.population-ul.population-hoverable li:hover{background-color:#ccc}.population-centered tr th,.population-centered tr td{text-align:center}
.population-table td,.population-table th,.population-table-all td,.population-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.population-table th:first-child,.population-table td:first-child,.population-table-all th:first-child,.population-table-all td:first-child{padding-left:16px}
.population-btn,.population-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.population-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.population-btn,.population-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.population-disabled,.population-btn:disabled,.population-button:disabled{cursor:not-allowed;opacity:0.3}.population-disabled *,:disabled *{pointer-events:none}
.population-btn.population-disabled:hover,.population-btn:disabled:hover{box-shadow:none}
.population-badge,.population-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.population-badge{border-radius:50%}
.population-ul{list-style-type:none;padding:0;margin:0}.population-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.population-ul li:last-child{border-bottom:none}
.population-tooltip,.population-display-container{position:relative}.population-tooltip .population-text{display:none}.population-tooltip:hover .population-text{display:inline-block}
.population-ripple:active{opacity:0.5}.population-ripple{transition:opacity 0s}
.population-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.population-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.population-dropdown-click,.population-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.population-dropdown-hover:hover .population-dropdown-content{display:block}
.population-dropdown-hover:first-child,.population-dropdown-click:hover{background-color:#ccc;color:#000}
.population-dropdown-hover:hover > .population-button:first-child,.population-dropdown-click:hover > .population-button:first-child{background-color:#ccc;color:#000}
.population-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.population-check,.population-radio{width:24px;height:24px;position:relative;top:6px}
.population-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.population-bar-block .population-dropdown-hover,.population-bar-block .population-dropdown-click{width:100%}
.population-bar-block .population-dropdown-hover .population-dropdown-content,.population-bar-block .population-dropdown-click .population-dropdown-content{min-width:100%}
.population-bar-block .population-dropdown-hover .population-button,.population-bar-block .population-dropdown-click .population-button{width:100%;text-align:left;padding:8px 16px}
.population-main,#main{transition:margin-left .4s}
.population-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.population-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.population-bar{width:100%;overflow:hidden}.population-center .population-bar{display:inline-block;width:auto}
.population-bar .population-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.population-bar .population-dropdown-hover,.population-bar .population-dropdown-click{position:static;float:left}
.population-bar .population-button{white-space:normal}
.population-bar-block .population-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.population-bar-block.population-center .population-bar-item{text-align:center}.population-block{display:block;width:100%}
.population-responsive{display:block;overflow-x:auto}
.population-container:after,.population-container:before,.population-panel:after,.population-panel:before,.population-row:after,.population-row:before,.population-row-padding:after,.population-row-padding:before,
.population-cell-row:before,.population-cell-row:after,.population-clear:after,.population-clear:before,.population-bar:before,.population-bar:after{content:"";display:table;clear:both}
.population-col,.population-half,.population-third,.population-twothird,.population-threequarter,.population-quarter{float:left;width:100%}
.population-col.s1{width:8.33333%}.population-col.s2{width:16.66666%}.population-col.s3{width:24.99999%}.population-col.s4{width:33.33333%}
.population-col.s5{width:41.66666%}.population-col.s6{width:49.99999%}.population-col.s7{width:58.33333%}.population-col.s8{width:66.66666%}
.population-col.s9{width:74.99999%}.population-col.s10{width:83.33333%}.population-col.s11{width:91.66666%}.population-col.s12{width:99.99999%}
@media (min-width:601px){.population-col.m1{width:8.33333%}.population-col.m2{width:16.66666%}.population-col.m3,.population-quarter{width:24.99999%}.population-col.m4,.population-third{width:33.33333%}
.population-col.m5{width:41.66666%}.population-col.m6,.population-half{width:49.99999%}.population-col.m7{width:58.33333%}.population-col.m8,.population-twothird{width:66.66666%}
.population-col.m9,.population-threequarter{width:74.99999%}.population-col.m10{width:83.33333%}.population-col.m11{width:91.66666%}.population-col.m12{width:99.99999%}}
@media (min-width:993px){.population-col.l1{width:8.33333%}.population-col.l2{width:16.66666%}.population-col.l3{width:24.99999%}.population-col.l4{width:33.33333%}
.population-col.l5{width:41.66666%}.population-col.l6{width:49.99999%}.population-col.l7{width:58.33333%}.population-col.l8{width:66.66666%}
.population-col.l9{width:74.99999%}.population-col.l10{width:83.33333%}.population-col.l11{width:91.66666%}.population-col.l12{width:99.99999%}}
.population-rest{overflow:hidden}.population-stretch{margin-left:-16px;margin-right:-16px}
.population-content,.population-auto{margin-left:auto;margin-right:auto}.population-content{max-width:980px}.population-auto{max-width:1140px}
.population-cell-row{display:table;width:100%}.population-cell{display:table-cell}
.population-cell-top{vertical-align:top}.population-cell-middle{vertical-align:middle}.population-cell-bottom{vertical-align:bottom}
.population-hide{display:none!important}.population-show-block,.population-show{display:block!important}.population-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.population-auto{max-width:95%}}
@media (max-width:600px){.population-modal-content{margin:0 10px;width:auto!important}.population-modal{padding-top:30px}
.population-dropdown-hover.population-mobile .population-dropdown-content,.population-dropdown-click.population-mobile .population-dropdown-content{position:relative}	
.population-hide-small{display:none!important}.population-mobile{display:block;width:100%!important}.population-bar-item.population-mobile,.population-dropdown-hover.population-mobile,.population-dropdown-click.population-mobile{text-align:center}
.population-dropdown-hover.population-mobile,.population-dropdown-hover.population-mobile .population-btn,.population-dropdown-hover.population-mobile .population-button,.population-dropdown-click.population-mobile,.population-dropdown-click.population-mobile .population-btn,.population-dropdown-click.population-mobile .population-button{width:100%}}
@media (max-width:768px){.population-modal-content{width:500px}.population-modal{padding-top:50px}}
@media (min-width:993px){.population-modal-content{width:900px}.population-hide-large{display:none!important}.population-sidebar.population-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.population-hide-medium{display:none!important}}
@media (max-width:992px){.population-sidebar.population-collapse{display:none}.population-main{margin-left:0!important;margin-right:0!important}.population-auto{max-width:100%}}
.population-top,.population-bottom{position:fixed;width:100%;z-index:1}.population-top{top:0}.population-bottom{bottom:0}
.population-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.population-display-topleft{position:absolute;left:0;top:0}.population-display-topright{position:absolute;right:0;top:0}
.population-display-bottomleft{position:absolute;left:0;bottom:0}.population-display-bottomright{position:absolute;right:0;bottom:0}
.population-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.population-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.population-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.population-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.population-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.population-display-container:hover .population-display-hover{display:block}.population-display-container:hover span.population-display-hover{display:inline-block}.population-display-hover{display:none}
.population-display-position{position:absolute}
.population-circle{border-radius:50%}
.population-round-small{border-radius:2px}.population-round,.population-round-medium{border-radius:4px}.population-round-large{border-radius:8px}.population-round-xlarge{border-radius:16px}.population-round-xxlarge{border-radius:32px}
.population-row-padding,.population-row-padding>.population-half,.population-row-padding>.population-third,.population-row-padding>.population-twothird,.population-row-padding>.population-threequarter,.population-row-padding>.population-quarter,.population-row-padding>.population-col{padding:0 8px}
.population-container,.population-panel{padding:0.01em 16px}.population-panel{margin-top:16px;margin-bottom:16px}
.population-code,.population-codespan{font-family:Consolas,"courier new";font-size:16px}
.population-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.population-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.population-card,.population-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.population-card-4,.population-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.population-spin{animation:population-spin 2s infinite linear}@keyframes population-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.population-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.population-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.population-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.population-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.population-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.population-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.population-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.population-animate-input{transition:width 0.4s ease-in-out}.population-animate-input:focus{width:100%!important}
.population-opacity,.population-hover-opacity:hover{opacity:0.60}.population-opacity-off,.population-hover-opacity-off:hover{opacity:1}
.population-opacity-max{opacity:0.25}.population-opacity-min{opacity:0.75}
.population-greyscale-max,.population-grayscale-max,.population-hover-greyscale:hover,.population-hover-grayscale:hover{filter:grayscale(100%)}
.population-greyscale,.population-grayscale{filter:grayscale(75%)}.population-greyscale-min,.population-grayscale-min{filter:grayscale(50%)}
.population-sepia{filter:sepia(75%)}.population-sepia-max,.population-hover-sepia:hover{filter:sepia(100%)}.population-sepia-min{filter:sepia(50%)}
.population-tiny{font-size:10px!important}.population-small{font-size:12px!important}.population-medium{font-size:15px!important}.population-large{font-size:18px!important}
.population-xlarge{font-size:24px!important}.population-xxlarge{font-size:36px!important}.population-xxxlarge{font-size:48px!important}.population-jumbo{font-size:64px!important}
.population-left-align{text-align:left!important}.population-right-align{text-align:right!important}.population-justify{text-align:justify!important}.population-center{text-align:center!important}
.population-border-0{border:0!important}.population-border{border:1px solid #ccc!important}
.population-border-top{border-top:1px solid #ccc!important}.population-border-bottom{border-bottom:1px solid #ccc!important}
.population-border-left{border-left:1px solid #ccc!important}.population-border-right{border-right:1px solid #ccc!important}
.population-topbar{border-top:6px solid #ccc!important}.population-bottombar{border-bottom:6px solid #ccc!important}
.population-leftbar{border-left:6px solid #ccc!important}.population-rightbar{border-right:6px solid #ccc!important}
.population-section,.population-code{margin-top:16px!important;margin-bottom:16px!important}
.population-margin{margin:16px!important}.population-margin-top{margin-top:16px!important}.population-margin-bottom{margin-bottom:16px!important}
.population-margin-left{margin-left:16px!important}.population-margin-right{margin-right:16px!important}
.population-padding-small{padding:4px 8px!important}.population-padding{padding:8px 16px!important}.population-padding-large{padding:12px 24px!important}
.population-padding-16{padding-top:16px!important;padding-bottom:16px!important}.population-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.population-padding-32{padding-top:32px!important;padding-bottom:32px!important}.population-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.population-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.population-padding-top-64{padding-top:64px!important}.population-padding-top-48{padding-top:48px!important}
.population-padding-top-32{padding-top:32px!important}.population-padding-top-24{padding-top:24px!important}
.population-left{float:left!important}.population-right{float:right!important}
.population-button:hover{color:#000!important;background-color:#ccc!important}
.population-transparent,.population-hover-none:hover{background-color:transparent!important}
.population-hover-none:hover{box-shadow:none!important}
/* Colors */
.population-amber,.population-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.population-aqua,.population-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.population-blue,.population-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.population-light-blue,.population-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.population-brown,.population-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.population-cyan,.population-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.population-blue-grey,.population-hover-blue-grey:hover,.population-blue-gray,.population-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.population-green,.population-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.population-light-green,.population-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.population-indigo,.population-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.population-khaki,.population-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.population-lime,.population-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.population-orange,.population-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.population-deep-orange,.population-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.population-pink,.population-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.population-purple,.population-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.population-deep-purple,.population-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.population-red,.population-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.population-sand,.population-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.population-teal,.population-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.population-yellow,.population-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.population-white,.population-hover-white:hover{color:#000!important;background-color:#fff!important}
.population-black,.population-hover-black:hover{color:#fff!important;background-color:#000!important}
.population-grey,.population-hover-grey:hover,.population-gray,.population-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.population-light-grey,.population-hover-light-grey:hover,.population-light-gray,.population-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.population-dark-grey,.population-hover-dark-grey:hover,.population-dark-gray,.population-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.population-pale-red,.population-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.population-pale-green,.population-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.population-pale-yellow,.population-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.population-pale-blue,.population-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.population-text-amber,.population-hover-text-amber:hover{color:#ffc107!important}
.population-text-aqua,.population-hover-text-aqua:hover{color:#00ffff!important}
.population-text-blue,.population-hover-text-blue:hover{color:#2196F3!important}
.population-text-light-blue,.population-hover-text-light-blue:hover{color:#87CEEB!important}
.population-text-brown,.population-hover-text-brown:hover{color:#795548!important}
.population-text-cyan,.population-hover-text-cyan:hover{color:#00bcd4!important}
.population-text-blue-grey,.population-hover-text-blue-grey:hover,.population-text-blue-gray,.population-hover-text-blue-gray:hover{color:#607d8b!important}
.population-text-green,.population-hover-text-green:hover{color:#4CAF50!important}
.population-text-light-green,.population-hover-text-light-green:hover{color:#8bc34a!important}
.population-text-indigo,.population-hover-text-indigo:hover{color:#3f51b5!important}
.population-text-khaki,.population-hover-text-khaki:hover{color:#b4aa50!important}
.population-text-lime,.population-hover-text-lime:hover{color:#cddc39!important}
.population-text-orange,.population-hover-text-orange:hover{color:#ff9800!important}
.population-text-deep-orange,.population-hover-text-deep-orange:hover{color:#ff5722!important}
.population-text-pink,.population-hover-text-pink:hover{color:#e91e63!important}
.population-text-purple,.population-hover-text-purple:hover{color:#9c27b0!important}
.population-text-deep-purple,.population-hover-text-deep-purple:hover{color:#673ab7!important}
.population-text-red,.population-hover-text-red:hover{color:#f44336!important}
.population-text-sand,.population-hover-text-sand:hover{color:#fdf5e6!important}
.population-text-teal,.population-hover-text-teal:hover{color:#009688!important}
.population-text-yellow,.population-hover-text-yellow:hover{color:#d2be0e!important}
.population-text-white,.population-hover-text-white:hover{color:#fff!important}
.population-text-black,.population-hover-text-black:hover{color:#000!important}
.population-text-grey,.population-hover-text-grey:hover,.population-text-gray,.population-hover-text-gray:hover{color:#757575!important}
.population-text-light-grey,.population-hover-text-light-grey:hover,.population-text-light-gray,.population-hover-text-light-gray:hover{color:#f1f1f1!important}
.population-text-dark-grey,.population-hover-text-dark-grey:hover,.population-text-dark-gray,.population-hover-text-dark-gray:hover{color:#3a3a3a!important}
.population-border-amber,.population-hover-border-amber:hover{border-color:#ffc107!important}
.population-border-aqua,.population-hover-border-aqua:hover{border-color:#00ffff!important}
.population-border-blue,.population-hover-border-blue:hover{border-color:#2196F3!important}
.population-border-light-blue,.population-hover-border-light-blue:hover{border-color:#87CEEB!important}
.population-border-brown,.population-hover-border-brown:hover{border-color:#795548!important}
.population-border-cyan,.population-hover-border-cyan:hover{border-color:#00bcd4!important}
.population-border-blue-grey,.population-hover-border-blue-grey:hover,.population-border-blue-gray,.population-hover-border-blue-gray:hover{border-color:#607d8b!important}
.population-border-green,.population-hover-border-green:hover{border-color:#4CAF50!important}
.population-border-light-green,.population-hover-border-light-green:hover{border-color:#8bc34a!important}
.population-border-indigo,.population-hover-border-indigo:hover{border-color:#3f51b5!important}
.population-border-khaki,.population-hover-border-khaki:hover{border-color:#f0e68c!important}
.population-border-lime,.population-hover-border-lime:hover{border-color:#cddc39!important}
.population-border-orange,.population-hover-border-orange:hover{border-color:#ff9800!important}
.population-border-deep-orange,.population-hover-border-deep-orange:hover{border-color:#ff5722!important}
.population-border-pink,.population-hover-border-pink:hover{border-color:#e91e63!important}
.population-border-purple,.population-hover-border-purple:hover{border-color:#9c27b0!important}
.population-border-deep-purple,.population-hover-border-deep-purple:hover{border-color:#673ab7!important}
.population-border-red,.population-hover-border-red:hover{border-color:#f44336!important}
.population-border-sand,.population-hover-border-sand:hover{border-color:#fdf5e6!important}
.population-border-teal,.population-hover-border-teal:hover{border-color:#009688!important}
.population-border-yellow,.population-hover-border-yellow:hover{border-color:#ffeb3b!important}
.population-border-white,.population-hover-border-white:hover{border-color:#fff!important}
.population-border-black,.population-hover-border-black:hover{border-color:#000!important}
.population-border-grey,.population-hover-border-grey:hover,.population-border-gray,.population-hover-border-gray:hover{border-color:#9e9e9e!important}
.population-border-light-grey,.population-hover-border-light-grey:hover,.population-border-light-gray,.population-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.population-border-dark-grey,.population-hover-border-dark-grey:hover,.population-border-dark-gray,.population-hover-border-dark-gray:hover{border-color:#616161!important}
.population-border-pale-red,.population-hover-border-pale-red:hover{border-color:#ffe7e7!important}.population-border-pale-green,.population-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.population-border-pale-yellow,.population-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.population-border-pale-blue,.population-hover-border-pale-blue:hover{border-color:#e7ffff!important}